{% extends "apps/layouts/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="border p-3 rounded">
                <h6 class="mb-0 text-uppercase">Nouveau equipement</h6>
                <hr />
                <form class="row g-3" method="POST">
                    {% csrf_token %}
                    <div class="col-6">
                        <label class={% render"form-label">Nom</label>
                        _field form.name class="form-control" %}
                    </div>
                    <div class="col-6">
                        <label class="form-label">Description</label>
                        {% render_field form.description class="form-control" %}
                    </div>
                    <div class="col-6">
                        <label class="form-label">Types PSL</label>
                        {% render_field form.type_psl class="form-select" %}
                    </div>
                    <div class="col-6">
                        <label class="form-label">Types D'equipement</label>
                        {% render_field form.equipmentType class="form-select" %}
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <a class="btn btn-outline-secondary" href="{% url 'equipement' %}">Annuler</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
