{% extends "apps/layouts/main.html" %}
{% load static %}

{% block content %}

    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Equipements</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href=""><i class="bx bx-home-alt"></i></a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert border-0 bg-light-info alert-dismissible fade show py-2">
                    <div class="d-flex align-items-center">
                        <div class="fs-3 text-info"><i class="bi bi-info-circle-fill"></i>
                        </div>
                        <div class="ms-3">
                            <div class="text-info">{{message}}</div>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% else %}
                <div class="alert border-0 bg-light-danger alert-dismissible fade show py-2">
                    <div class="d-flex align-items-center">
                        <div class="fs-3 text-danger"><i class="bi bi-exclamation-octagon-fill"></i>
                        </div>
                        <div class="ms-3">
                            <div class="text-danger">{{message}}</div>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="card">
        <div class="card-header py-3">
            <h6 class="mb-0">Type d'equipements</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-lg-10 d-flex">
                    <div class="card border shadow-none w-100">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example2" class="table align-middle" style="width:100%">
                                    <thead class="table-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for equipmentType in equipmentTypes %}
                                            <tr>
                                                <td>{{equipmentType.id}}</td>
                                                <td>{{equipmentType.name}}</td>
                                                <td>{{equipmentType.description}}</td>
                                                <td>
                                                    <div class="d-flex align-items-center gap-3 fs-6">
                                                        <a href="{% url "equipment_type_details" equipmentType.id %}" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="View detail" aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                                        <a href="{% url "update_equipment_type" equipmentType.id %}" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>
                                                        <a class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" onclick="return confirm('Supprimer {{equipmentType.name}} ?')" href="{% url 'equipment_type_delete' equipmentType.id %}"><i class="bi bi-trash-fill"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'create_equipment_type' %}" class="link-light"><i class="bi bi-plus-circle"></i> Ajouter un nouveau type d'equipment </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-header py-3">
                <h6 class="mb-0">Equipements</h6>
            </div>
            <div class="col-12 col-lg-10 d-flex">
                <div class="card border shadow-none w-100">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead class="table-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom</th>
                                        <th>Description</th>
                                        <th>Type PSL</th>
                                        <th>Type d'Equipement</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for equipment in equipments %}
                                        <tr>
                                            <td>#{{equipment.id}}</td>
                                            <td>{{equipment.name}}</td>
                                            <td>{{equipment.description}}</td>
                                            <td>{{equipment.type_psl}}</td>
                                            <td>{{equipment.equipmentType}}</td>
                                            <td>
                                                <div class="d-flex align-items-center gap-3 fs-6">
                                                    <a href="{% url "equipment_details" equipment.id %}" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="View detail" aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                                    <a href="{% url "update_equipment" equipment.id %}" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit"><i class="bi bi-pencil-fill"></i></a>
                                                    <a class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" onclick="return confirm('Supprimer {{equipment.name}} ?')" href="{% url 'equipment_delete' equipment.id %}"><i class="bi bi-trash-fill"></i></a>
                                                </div>
                                            </td>
                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                        <nav class="float-end mt-0" aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'create_equipment' %}" class="link-light"><i class="bi bi-plus-circle"></i> Ajouter un nouveau equipment </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
    </div>
    </div>


{% endblock %}
