{% extends "apps/layouts/main.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="row">
        <div class="col-xl-12 mx-auto">

            <div class="card">
                <div class="card-body">
                    <div class="border p-3 rounded">
                        <h6 class="mb-0 text-uppercase">Nouveau Client</h6>
                        <hr />
                        <form class="row g-3" method="POST">
                            {% csrf_token %}
                            <div class="col-6">
                                <label class="form-label">Nom</label>
                                {{form.name}}
                            </div>
                            <div class="col-6">
                                <label class="form-label">Téléphone</label>
                                {{form.phone}}
                            </div>
                            <div class="col-6">
                                <label class="form-label">Adresse</label>
                                {{form.adress}}
                            </div>
                            <div class="col-6">
                                <label class="form-label">E-mail</label>
                                {{form.email}}
                            </div>
                            <div class="col-6">
                                <label class="form-label">Mot de Passe</label>
                                {{form.password}}
                            </div>
                            <div class="col-12"></div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <a class="btn btn-outline-secondary" href="{% url 'client' %}">Annuler</a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
