{% extends "apps/layouts/main.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-xl-12 mx-auto">

        <div class="card">
            <div class="card-body">
                <div class="border p-3 rounded">
                    <h6 class="mb-0 text-uppercase">Nouvelle Analyse</h6>
                    <hr />
                    <form class="row g-3" method="POST">
                        {% csrf_token %}
                        <div class="col-6">
                            <label class="form-label">Type</label>
                            {{form.typ}}
                        </div>
                        <div class="col-6">
                            <label class="form-label">Réactifs</label>
                            {{form.reactant}}
                        </div>
                        <div class="col-6">
                            <div class="d-grid">
                                <a class="btn btn-outline-secondary" href="{% url 'analyse' %}">Annuler</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
