{% extends "apps/layouts/main.html" %}
{% load static %}

{% block content %}

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="ps-3 pe-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="{%url 'home' %}"><i class="bx bx-home-alt"></i></a>
                </li>
            </ol>
        </nav>
    </div>

    {% if donor.status == "Eligible" %}
    <div class="breadcrumb-title pe-3">
        {{donor.first_name}} {{donor.last_name}}:
        <span class="text text-success">{{donor.status}}</span>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <a class="btn btn-primary" href="{% url 'create_blood' donor.id %}" class="link-light"><i
                    class="bi bi-plus-circle"></i> Ajouter un nouveau prélèvement</a>
        </div>
    </div>
    {% elif donor.status == "Ineligible" %}
    <div class="breadcrumb-title pe-3">
        {{donor.first_name}} {{donor.last_name}}:
        <span class="text text-danger">{{donor.status}}</span>
    </div>
    {% elif donor.status == "Attente" %}
    <div class="breadcrumb-title pe-3">
        {{donor.first_name}} {{donor.last_name}}:
        <span class="text text-secondary">{{donor.status}}</span>
    </div>
    {% endif %}
</div>
<!--end breadcrumb-->

<div class="row">
    <div class="col-xl-12 mx-auto">

        <div class="card">
            <div class="card-body">
                <div class="border p-3 rounded">
                    <div class="card card-outline-secondary p-2">
                        <h6 class="mb-0 text-uppercase">Informations Générales</h6>
                        <hr>
                        <div class="col-6">
                            <p class="form-label">Nom : {{donor.first_name}}</p>
                        </div>
                        <div class="col-6">
                            <p class="form-label">Prénom : {{donor.last_name}}</p>
                        </div>
                        <div class="col-6">
                            <p class="form-label">CNI : {{donor.cni}}</p>
                        </div>
                        <div class="col-6">
                            <p class="form-label">Date de Naissance: {{donor.birthday}}</p>
                        </div>
                        <div class="col-6">
                            <p class="form-label">Poids : {{donor.weight}}</p>
                        </div>
                        <div class="col-6">
                            <p class="form-select-label">
                                Sexe : {{donor.sex}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="form-select-label">
                                Groupe Sanguin : {{donor.blood_group}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="form-select-label">
                                Ajouté: {{donor.date_created}}
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="form-select-label">
                                Modifié: {{donor.updated}}
                            </p>
                        </div>
                    </div>
                    <div class="card card-outline-secondary p-2">
                        <h6 class="mb-0 text-uppercase">Informations relatifs aux dons</h6>
                        <hr>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Don de sang dans les 4 derniers mois :
                                    {% if donor.last_donation %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Prise de drogue par voie intra-veineuse dans les 4 derniers mois :
                                    {% if donor.drugs %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Tatouage ou un piercing dans les 4 derniers mois :
                                    {% if donor.tattoo_piercing %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Présente ou a déjà eu une maladie ne lui permettant plus de donner son
                                    sang :
                                    {% if donor.disease %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Opération dans les 4 derniers mois :
                                    {% if donor.surgery %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Prise de médicaments? :
                                    {% if donor.under_medication %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Vaccination au cours du dernier mois?
                                    {% if donor.vaccine %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Visite chez un dentiste dans les 7 derniers jours :
                                    {% if donor.dentist %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Est enceinte ou a accouché depuis moins de 6 mois :
                                    {% if donor.pregnancy %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Transfusion ou greffe d'organe :
                                    {% if donor.transfusion %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Anémie ou manque de fer :
                                    {% if donor.anemia %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">Fièvre ou une infection dans les 2 dernières
                                    semaines :
                                    {% if donor.infections %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="">
                                <p class="form-check-label">
                                    Examen de type "fibroscopie" dans les 4 derniers mois :
                                    {% if donor.examens %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-12">
                        <div class="d-grid">
                            <a class="btn btn-outline-secondary" href="{% url 'donor' %}">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}