{% extends "apps/layouts/main.html" %}
{% load static %}

{% block content %}
  <!--breadcrumb-->
  <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Historique</div>
    <div class="ps-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item"><a href="{%url 'home' %}"><i class="bx bx-home-alt"></i></a></li>
          <li class="breadcrumb-item active">Centrifugation</li>
        </ol>
      </nav>
    </div>
    <div class="ms-auto">
      <div class="btn-group">
        <a class="btn btn-primary" href="{% url 'create_donor' %}" class="link-light"><i class="bi bi-plus-circle"></i> Ajouter un Donneur</a>
      </div>
    </div>
  </div>
  <!--end breadcrumb-->

  <div class="card">
    <div class="card-body">
        <h5 class="mb-0">Prélèvements Centrifugés</h5>
      <div class="d-flex align-items-center">
      </div>
      <div class="table-responsive mt-3">
        <table id="example" class="table align-middle" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Action</th>
                    <th>Numéro de Série</th>
                    <th>Analysé</th>
                    <th>Centrifugé</th>
                    <th>Etat</th>
                    <th>Donneur</th>
                    <th>Echantillon</th>
                </tr>
            </thead>
            <tbody>
                {% for blood in centrifuged %}
                <tr>
                    <td>{{blood.id}}</td>
                    <td>
                        <div>
                            <p class="mb-0 product-title">{{blood.serial}}</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="mb-0 product-title">{{blood.analysed}}</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <ul>
                                <li>asdf</li>
                                <li>asdf</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div>
                            {% if blood.state == "Attente" %}
                            <p class="mb-0 product-title"><span class="badge bg-light-secondary text-secondary w-100">{{blood.state}}</span></p>
                            {% elif blood.state == "Eligible" %}
                            <p class="mb-0 product-title"><span class="badge bg-light-success text-success w-100">{{blood.state}}</span></p>
                            {% elif blood.state == "Ineligible" %}
                            <p class="mb-0 product-title"><span class="badge bg-light-danger text-danger w-100">{{blood.state}}</span></p>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="mb-0 product-title">{{blood.donor}}</p>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="mb-0 product-title">{{blood.sample}}</p>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}