{% extends "apps/layouts/main.html" %}
{% load static %}

{% block content %}

<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Prélèvements</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="{%url 'home' %}"><i class="bx bx-home-alt"></i></a>
                </li>
            </ol>
        </nav>
    </div>
</div>


<div class="card-body">
    <div class="d-flex align-items-center">
        <h5 class="mb-0">Détails des Prélèvements</h5>
    </div>
    <div class="table-responsive mt-3">{% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert border-0 bg-light-info alert-dismissible fade show py-2">
            <div class="d-flex align-items-center">
                <div class="fs-3 text-info"><i class="bi bi-info-circle-fill"></i>
                </div>
                <div class="ms-3">
                    <div class="text-info">{{message}}</div>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert border-0 bg-light-danger alert-dismissible fade show py-2">
            <div class="d-flex align-items-center">
                <div class="fs-3 text-danger"><i class="bi bi-exclamation-octagon-fill"></i>
                </div>
                <div class="ms-3">
                    <div class="text-danger">{{message}}</div>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="table-responsive">
            <table id="example" class="table align-middle" style="width:100%">
                <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Action</th>
                        <th>Numero de Serie</th>
                        <th>Analysé</th>
                        <th>centrifugé</th>
                        <th>Etat</th>
                        <th>Donneur</th>
                        <th>Echantillon</th>
                    </tr>
                </thead>
                <tbody>
                    {% for blood in bloods %}
                    <tr>
                        <td>{{blood.id}}</td>
                        <td>
                            <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                <a href="{% url 'blood_details' blood.id %}" class="text-primary"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Views"><i
                                        class="bi bi-eye-fill"></i></a>
                                <a href="{% url 'update_blood' blood.id %}" class="text-warning"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i
                                        class="bi bi-pencil-fill"></i></a>
                                <a class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="Delete" onclick="return confirm('Supprimer la transfusion N°{{blood.serial}}?')"
                                    href="{% url 'delete_blood' blood.id %}"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </td>
                        </td>
                        <td class="d-flex align-items-center gap-2">
                            <div>
                                <p class="mb-0 product-title">{{blood.serial}}</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p class="mb-0 product-title">{{blood.analysed}}</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p class="mb-0 product-title">{{blood.centrifuged}}</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if blood.state == "Attente" %}
                                <p class="mb-0 product-title"><span class="badge bg-light-secondary text-secondary w-100">{{blood.state}}</span></p>
                                {% elif blood.state == "Eligible" %}
                                <p class="mb-0 product-title"><span class="badge bg-light-success text-success w-100">{{blood.state}}</span></p>
                                {% elif blood.state == "Ineligible" %}
                                <p class="mb-0 product-title"><span class="badge bg-light-danger text-danger w-100">{{blood.state}}</span></p>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div>
                                <p class="mb-0 product-title">{{blood.donor}}</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p class="mb-0 product-title">{{blood.sample}}</p>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}