{% extends "apps/layouts/main.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="{%url 'home' %}"><i class="bx bx-home-alt"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'psl' %}">Produits Sanguins Labiles</a></li>
                {% if create is True %}
                <li class="breadcrumb-item active" aria-current="page">Créer Produit Sanguin Labile</li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">Modifier Produit Sanguin Labile</li>
                {% endif %}
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<div class="card">
    <div class="card-body">
        <div class="border p-3 rounded">
            <h6 class="mb-0 text-uppercase">Nouveau Produit Sanguin Labile</h6>
            <hr />
            <form class="row g-3" method="POST">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert border-0 bg-light-info alert-dismissible fade show py-2">
                    <div class="d-flex align-items-center">
                        <div class="fs-3 text-info"><i class="bi bi-info-circle-fill"></i>
                        </div>
                        <div class="ms-3">
                            <div class="text-info">{{message}}</div>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert border-0 bg-light-danger alert-dismissible fade show py-2">
                    <div class="d-flex align-items-center">
                        <div class="fs-3 text-danger"><i class="bi bi-exclamation-octagon-fill"></i>
                        </div>
                        <div class="ms-3">
                            <div class="text-danger">{{message}}</div>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <div class="col-6">
                    <label class="form-label">Numéro de Série</label>
                    {% render_field form.serial class="form-control" placeholder="Numéro de Série"%}
                </div>
                <div class="col-6 d-none">
                    <label class="form-label">Type</label>
                    {% render_field form.type_psl class="form-select" %}
                </div>
                <div class="col-6">
                    <label class="form-label">Volume(en ml)</label>
                    {% render_field form.volume class="form-control" placeholder="Volume"%}
                </div>
                <div class="col-6 d-none">
                    <label class="form-label">Prélèvement</label>
                    {% render_field form.blood class="form-control" %}
                </div>
                <div class="col-6 d-none">
                    <label class="form-label">Durée de Conservation</label>
                    {% render_field form.duration class="form-control" placeholder="Durée de Conservation"%}
                </div>
                {% if of == 'gr' %}
                <div class="col-12">
                    <label class="form-label">Solution</label>
                    {% render_field form.solution class="form-select" %}
                </div>
                {% endif %}
                <div class="col-6">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-grid">
                        <a class="btn btn-outline-secondary" href="{% url 'psl' %}">Annuler</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}