{% extends "apps/layouts/main.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="border p-3 rounded">
                <h6 class="mb-0 text-uppercase">Nouveau Type PSL</h6>
                <hr />
                <form class="row g-3" method="POST">
                    {% csrf_token %}
                    <div class="col-6">
                        <label class="form-label">Nom</label>
                        {% render_field form.name class="form-control" %}
                    </div>
                    <div class="col-6">
                        <label class="form-label">Durée Conservation</label>
                        {% render_field form.duration type="datetime-local" class="form-control" %}
                    </div>
                    <div class="col-6">
                        <label class="form-label">Prix</label>
                        {% render_field form.price class="form-control" %}
                    </div>
                    <div class="col-12">
                        <label class="form-label">Description</label>
                        {% render_field form.description class="form-control" %}
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <a class="btn btn-outline-secondary" href="{% url 'psl' %}">Annuler</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
