{% load static %}

<!--start sidebar -->
<aside class="sidebar-wrapper">
    <div class="iconmenu"> 

      <div class="nav-toggle-box">
        <div class="nav-toggle-icon"><i class="bi bi-list"></i></div>
      </div>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboards">
          <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-dashboards" type="button"><i class="bi bi-house-door-fill"></i></button>
        </li>
        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Requests">
          <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-requests" type="button"><i class="bi bi-bell-fill"></i></button>
        </li>
        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="History">
          <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-history" type="button"><i class="bi bi-clock-fill"></i></button>
        </li>
        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Users">
          <button class="nav-link" data-bs-toggle="pill" data-bs-target="#pills-users" type="button"><i class="bi bi-people-fill"></i></button>
        </li>
      </ul>

    </div>

    <div class="textmenu">

      <div class="brand-logo">
        <img src="{% static 'assets/images/brand-logo-2.png' %}" width="140" alt=""/>
      </div>

      <div class="tab-content">

        <div class="tab-pane fade" id="pills-dashboards">
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-0">Tableau de Bord</h5>
              </div>
              <small class="mb-0">Voici les informations générales</small>
            </div>

            <a href="{% url 'home' %}" class="list-group-item"><i class="bi bi-house"></i>Accueil</a>
            <a href="{% url 'donor' %}" class="list-group-item"><i class="bi bi-file-person"></i>Donneurs</a>
            <a href="{% url 'transfusion' %}" class="list-group-item"><i class="bi bi-heart-pulse"></i>Prélèvements</a>
            <a href="{% url 'reactant' %}" class="list-group-item"><i class="bi bi-highlighter"></i>Réactifs</a>
            <a href="{% url 'analyse' %}" class="list-group-item"><i class="bi bi-kanban"></i>Analyses</a>
            <a href="{% url 'solution' %}" class="list-group-item"><i class="bi bi-shop"></i>Solution</a>
            <a href="{% url 'psl' %}" class="list-group-item"><i class="bi bi-bag-heart"></i>Produits Sanguins Labiles</a>
            <a href="{% url 'client' %}" class="list-group-item"><i class="bi bi-person-rolodex"></i>Clients</a>
            <a href="{% url 'order' %}" class="list-group-item"><i class="bi bi-list-ul"></i>Commandes</a>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-requests">
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-0">Requêtes</h5>
              </div>
              <small class="mb-0">Ici sont affichées les dernières requêtes</small>
            </div>
            
            <a href="{% url 'donor_requests' %}" class="list-group-item"><i class="bi bi-person-circle"></i>Donneurs</a>
            <a href="{% url 'request_analysis' %}" class="list-group-item"><i class="bi bi-droplet-fill"></i>Analyses</a>
            <a href="{% url 'blood_request' %}" class="list-group-item"><i class="bi bi-droplet-half"></i>Prélèvements</a>
            <a href="{% url 'donor' %}" class="list-group-item"><i class="bi bi-droplet"></i>Plaquettes</a>

          </div>
        </div>

        <div class="tab-pane fade" id="pills-history">
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-0">Historique</h5>
              </div>
              <small class="mb-0">Ici s'affiche un historique détaillé</small>
            </div>

            <a href="{% url 'donor_history' %}" class="list-group-item"><i class="bi bi-person-circle"></i>Donneurs</a>
            <a href="{% url 'analysis_history' %}" class="list-group-item"><i class="bi bi-droplet-fill"></i>Analyses</a>
            <a href="{% url 'donor' %}" class="list-group-item"><i class="bi bi-droplet-half"></i>Plasma</a>
            <a href="{% url 'donor' %}" class="list-group-item"><i class="bi bi-droplet"></i>Plaquettes</a>

          </div>
        </div>

        <div class="tab-pane fade" id="pills-users">
          <div class="list-group list-group-flush">
            <div class="list-group-item">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-0">Utilisateurs</h5>
              </div>
              <small class="mb-0">Ici sont affichés tous les utilisateurs</small>
            </div>

            
            <a href="{% url 'users' %}" class="list-group-item"><i class="bi bi-people"></i>Utilisateurs</a>

          </div>
        </div>

      </div>

    </div>

 </aside>
 <!--start sidebar -->