{% extends "apps/layouts/main.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}

<main class="authentication-content">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-lg-12">
                <h5>Changer le Mot de Passe</h5>
                <form class="form-body" method="POST" action="{% url 'password_success' %}">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="form-label">Ancien Mot de Passe</label>
                            <div class="ms-auto position-relative">
                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                                {% render_field form.old_password class="form-control radius-30 ps-5" placeholder="Ancien Mot de Passe" %}
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Nouveau Mot de Passe</label>
                            <div class="ms-auto position-relative">
                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                                {% render_field form.new_password1 class="form-control radius-30 ps-5" placeholder="Nouveau Mot de Passe" %}
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Confirmer le Mot de Passe</label>
                            <div class="ms-auto position-relative">
                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                                {% render_field form.new_password2 class="form-control radius-30 ps-5" placeholder="Confirmer le Mot de Passe" %}
                            </div>
                        </div>
                        <ul>
                            <li>Votre mot de passe ne peut pas être similaire à vos autres informations personnels.</li>
                            <li>Votre mot de passe doit contenir au-moins 8 caractères.</li>
                            <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                            <li>Votre mot de passe ne peut pas être entièrement numérique</li>
                        </ul>
                        <div class="col-6">
                            <div class="d-grid gap-3">
                                <button type="submit" class="btn btn-primary radius-30">
                                    Changer le Mot de Passe
                                </button>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-grid">
                                <a class="btn btn-light radius-30" href="{% url 'settings' %}">Annuler</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}