{% extends 'apps/layouts/authentication.html' %} {% load static %} {% block
content %}

<main class="authentication-content">
  <div class="container-fluid">
    <div class="authentication-card">
      <div class="card shadow rounded-0 overflow-hidden">
        <div class="row g-0">
          <div class="col-lg-12">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title">Genrate New Password</h5>
              <p class="card-text mb-5">
                We received your reset password request. Please enter your new
                password!
              </p>
              <form class="form-body" method="POST">
                {% csrf_token %}
                <div class="row g-3">
                  {{form}}
                  <div class="col-12">
                    <div class="d-grid gap-3">
                      <button type="submit" class="btn btn-primary radius-30">
                        Change Password
                      </button>
                      <button type="submit" class="btn btn-light radius-30">
                        <a href="{% url 'login' %}">Back to Login</a>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
