{% extends 'apps/layouts/authentication.html' %}
{% load static %}

{% block content %}

<main class="authentication-content">
    <div class="container-fluid">
      <div class="authentication-card">
        <div class="card shadow rounded-0 overflow-hidden">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title">Réinitialisation de Mot de Passe Envoyé</h5>
                <p class="card-text mb-5">Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, s'il existe un compte avec l'adresse e-mail que vous avez saisie. Vous devriez les recevoir sous peu. <br> Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.</p>
                <div class="row g-3">
                    <div class="col-12">
                    <div class="d-grid gap-3">
                        <button type="submit" class="btn btn-light radius-30"><a href="{% url 'login' %}">Retour à la page de connexion</a> </button>
                    </div>
                    </div>
                </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </main>

   {% endblock %}