{% extends 'apps/layouts/authentication.html' %} 
{% load static %} 

{% block content %}
<main class="authentication-content">
  <div class="container-fluid">
    <div class="authentication-card">
      <div class="card shadow rounded-0 overflow-hidden">
        <div class="row g-0">
          <div class="col-lg-12">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title">Forgot Password?</h5>
              <p class="card-text mb-5">
                Enter your registered email ID to reset the password
              </p>
              <form class="form-body" method="POST">
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-12">{{form}}</div>
                  <div class="col-12">
                    <div class="d-grid gap-3">
                      <button
                        type="submit"
                        class="btn btn-lg btn-primary radius-30"
                      >
                        Send
                      </button>
                      <a
                        href="{% url 'login' %}"
                        class="btn btn-lg btn-light radius-30"
                        >Back to Login</a
                      >
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
