{% extends "apps/layouts/main.html" %}
{% load static %}

{% block content %}

<!--start switcher-->
<div class="switcher-body">
    <div class="card" >
        <div class="card-header border-bottom">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Changer le Thème</h5>
        </div>
        <div class="card-body">
            <h6 class="mb-0">Différentes Variations</h6>
            <hr>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="LightTheme"
                    value="option1">
                <label class="form-check-label" for="LightTheme">Clair</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="DarkTheme"
                    value="option2">
                <label class="form-check-label" for="DarkTheme">Sombre</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SemiDarkTheme"
                    value="option3">
                <label class="form-check-label" for="SemiDarkTheme">Demi Sombre</label>
            </div>
            <hr>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="MinimalTheme"
                    value="option3">
                <label class="form-check-label" for="MinimalTheme">Thème Minimal</label>
            </div>
        </div>
    </div>
</div>
<!--end switcher-->

<div class="card text-left">
    <div class="card-body">
        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="alert border-0 bg-light-info alert-dismissible fade show py-2">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-3 text-info"><i class="bi bi-info-circle-fill"></i>
                                        </div>
                                        <div class="ms-3">
                                            <div class="text-info">{{message}}</div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% else %}
                                <div class="alert border-0 bg-light-danger alert-dismissible fade show py-2">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-3 text-danger"><i class="bi bi-exclamation-octagon-fill"></i>
                                        </div>
                                        <div class="ms-3">
                                            <div class="text-danger">{{message}}</div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
        <h4 class="card-title">Changer le Mot de Passe</h4>
        <p class="card-text"><a href="{% url 'change-password' %}">Cliquez ici</a> pour changer votre mot de passe</p>
      </div>
</div>

{% endblock %}